<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-sm-audiokit" version="0.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>sm-audiokit</name>
  <description>AudioKit-powered sample playback on iOS for Strum Machine</description>
  <author>Luke Abbott and Maximilian Maksutovic</author>

	<engines>
		<engine name="cordova-ios" version=">=6.0.0" />
	</engines>

  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="CordovaAudioKitPlugin">
        <param name="ios-package" value="CordovaAudioKitPlugin"/>
      </feature>
    </config-file>

    <js-module name="SMAudioKit" src="www/SMAudioKit.js">
      <clobbers target="cordova.plugins.SMAudioKit" />
    </js-module>

    <source-file src="Sources/CordovaAudioKitPlugin.swift" />

    <source-file src="Sources/Audio/AudioManager.swift" />
    <source-file src="Sources/Audio/AudioManager+Notifications.swift" />
    <source-file src="Sources/Audio/AudioPackageExtractor.swift" />
    <source-file src="Sources/Audio/Channel.swift" />
    <source-file src="Sources/Audio/ErrorTypes.swift" />
    <source-file src="Sources/Audio/Sample.swift" />
    <source-file src="Sources/Audio/SamplePlayback.swift" />
    <source-file src="Sources/Audio/SamplePlayer.swift" />
    <source-file src="Sources/Audio/SamplePlayerPool.swift" />
    <source-file src="Sources/Audio/SampleStorage.swift" />

    <!-- These may not be needed... sm-extras works without them -->
    <!--
		<framework src="AVFoundation.framework" />
		<framework src="CoreAudio.framework" />
		<framework src="AudioToolbox.framework" />
    -->

		<!-- <framework src="lib/AudioKit.xcframework" custom="true" embed="true" /> -->

  </platform>
</plugin>
